---
import Footer from "../components/Footer.astro";
import AlphaBadge from "../components/AlphaBadge.astro";
import BaseHead, { Props as Meta } from "../components/BaseHead.astro";
import Houston from "../components/Houston.astro";

const meta: Meta = {
  siteName: "Houston",
  description: "Experimental AI assistant for Astro developers",
  image: {
    src: "/social.png",
    alt: "Houston",
  },
};
---

<html lang="en">
  <head>
    <BaseHead {...meta} />
  </head>
  <body>
    <header class="container">
      <Houston scale={0.8} glow />
      <div class="intro">
        <p>Hey, I'm <strong>Houston</strong><AlphaBadge /></p>
        <p>Ask me anything about Astro</p>
      </div>
    </header>
    <main class="container">
      <ul class="chat"></ul>
    </main>
    <footer class="container">
      <form action="#" onsubmit="handleSubmit(event)">
        <div class="autogrow">
          <textarea
            id="message"
            name="message"
            onkeydown="handleKeydown(event)"
            oninput="this.parentNode.dataset.value = this.value"
            placeholder="Should I use Markdown or MDX?"
            cols="30"></textarea>
          <button type="submit">
            <svg
              width="24"
              height="24"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Send</title>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.64161 2.18531C6.04591 2.14469 6.453 2.22818 6.80868 2.42468L6.81379 2.4275L27.9217 14.25L27.9244 14.2515C28.2358 14.4244 28.4954 14.6774 28.6764 14.9842C28.8578 15.292 28.9535 15.6427 28.9535 16C28.9535 16.3572 28.8578 16.708 28.6764 17.0157C28.4954 17.3226 28.2358 17.5756 27.9244 17.7485L27.9217 17.75L6.80869 29.5753C6.45301 29.7718 6.04591 29.8553 5.64161 29.8147C5.2373 29.774 4.85495 29.6112 4.54548 29.3479C4.236 29.0846 4.01408 28.7332 3.90925 28.3406C3.80455 27.9485 3.82162 27.5338 3.95818 27.1517L7.93379 16L3.95868 4.84968C3.82192 4.46735 3.8045 4.05166 3.90925 3.65933C4.01408 3.26675 4.236 2.9154 4.54548 2.65208C4.85496 2.38875 5.2373 2.22594 5.64161 2.18531ZM27.4376 15.125L26.9489 15.9975L5.84155 4.17529L5.84205 4.17668L9.8113 15.3106C9.98396 15.7539 9.98396 16.246 9.8113 16.6894L5.84155 27.8247L26.9489 16.0025L26.9535 16L27.4376 15.125Z"
                fill="currentColor"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8 16C8 15.4477 8.44772 15 9 15H17C17.5523 15 18 15.4477 18 16C18 16.5523 17.5523 17 17 17H9C8.44772 17 8 16.5523 8 16Z"
                fill="currentColor"></path>
            </svg>
          </button>
        </div>
      </form>

      <Footer />
    </footer>

    <style>
      :root {
        --container-width: 640px;
        --chat-padding-top: 3rem;
      }
      :global(*) {
        box-sizing: border-box;
      }
      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        display: flex;
        flex-direction: column;
        margin: 0;
        position: relative;
        background: #17191e;
        color-scheme: dark;
        height: 100vh;
        height: 100dvh;
        line-height: 1.33;
      }
      body::before {
        position: absolute;
        content: "";
        mix-blend-mode: overlay;
        opacity: 0.4;
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(/whitenoise.png);
        background-repeat: repeat;
        pointer-events: none;
      }

      .container {
        width: 100%;
        max-width: var(--container-width);
        margin-left: auto;
        margin-right: auto;
      }
      header {
        flex-grow: 1;
        position: relative;
        margin: 0.75rem;
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
      }
      header.inactive {
        flex-grow: 0;
      }
      header.inactive + main {
        flex-grow: 1;
      }
      header.inactive .intro {
        display: none;
        opacity: 0;
        pointer-events: none;
        user-select: none;
      }
      .intro {
        font-size: 1.5rem;
        color: white;
        transition: opacity 500ms ease-out;
      }
      .intro p {
        margin: 0;
        margin-top: 0.5em;
      }
      .intro p:first-child {
        font-size: 2rem;
        margin-top: 2rem;
      }
      .intro strong {
        margin-right: 0.5rem;
      }
      .intro p:nth-child(n + 2) {
        color: rgba(133, 139, 152, 1);
      }
      .intro :global(svg) {
        margin-right: -2rem !important;
      }
      header::after {
        content: "";
        position: absolute;
        height: var(--chat-padding-top);
        bottom: calc(var(--chat-padding-top) * -1);
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, #17191e, rgba(23, 25, 30, 0));
        z-index: 1;
      }
      main {
        padding-top: var(--chat-padding-top);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: auto;
      }
      footer {
        display: flex;
        flex-flow: column;
        position: relative;
      }

      footer button {
        position: absolute;
        right: 1rem;
        top: 1rem;
        --size: 2.5rem;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      footer svg {
        margin-right: -0.25rem;
      }

      .autogrow {
        display: grid;
      }
      .autogrow::after {
        content: attr(data-value) " ";
        white-space: pre-wrap;
        visibility: hidden;
        max-height: 25vh;
      }
      textarea {
        resize: none;
        overflow: hidden;
      }
      .autogrow > textarea,
      .autogrow::after {
        width: 100vw;
        max-width: var(--container-width);
        outline: 0;
        flex-grow: 1;
        padding: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-size: 1.25rem;
        line-height: 1;
        border: 1px solid #343841;
        margin-left: -1px;
        margin-right: -1px;

        background: #23262d;
        color: #bfc1c9;

        /* Place on top of each other */
        grid-area: 1 / 1 / 2 / 2;
      }
      .autogrow > textarea:focus {
        border-color: white;
      }

      button {
        background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
      }

      .chat {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
      }
    </style>

    <style is:global>
      ::selection {
        background: #4af2c8;
        color: #17191e;
      }
      hey-houston {
        z-index: 2;
      }
      code {
        font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono",
          "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
          "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New",
          monospace;
        padding: 0.125em 0.33em;
        border-radius: 0.33em;
        font-size: 0.95rem;
      }
      .chat > .message {
        --radius: 1.75rem;
        position: relative;
        border-radius: var(--radius);
        grid-column: span 5 / -1;
        padding: 1rem 1.5rem;
        animation: fade-in 300ms ease-out forwards;
      }
      .chat > .message::after {
        --size: 1rem;
        content: "";
        position: absolute;
        bottom: 0;
        height: var(--size);
        width: var(--size);
        z-index: 2;
      }
      .chat > .message.defer {
        animation: fade-in 300ms ease-out forwards,
          shake 400ms 150ms ease-out forwards;
      }
      .chat > .message[data-user] {
        background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
        border-bottom-right-radius: 0;
        color: white;
      }
      .chat > .message[data-user]::after {
        background: #bc52ee;
        right: calc(var(--size) * -1);
        border-bottom-right-radius: 8rem;
        background: radial-gradient(
          circle at top right,
          rgba(0, 0, 0, 0) 0,
          rgba(0, 0, 0, 0) var(--size),
          #bc52ee var(--size)
        );
      }
      .chat > .message:not([data-user])::after {
        border-top-left-radius: var(--size);
        border-bottom-left-radius: 8rem;
        background: radial-gradient(
          circle at top left,
          rgba(0, 0, 0, 0) 0,
          rgba(0, 0, 0, 0) var(--size),
          #d6d8e2 var(--size)
        );
        left: calc(var(--size) * -1);
      }
      .chat > .message[data-user] code {
        background: rgba(255 255 255 / 0.15);
      }
      .chat > .message:not([data-user]) {
        background: linear-gradient(180deg, #ffffff, #d6d8e2);
        border-bottom-left-radius: 0;
        grid-column: 1 / -1;
      }
      .chat > .message:not([data-user]) code {
        background: rgba(0 0 0 / 0.075);
      }
      .message a {
        color: #3245ff;
      }
      .message a:where(:visited) {
        color: #bc52ee;
      }
      .sources {
        position: relative;
        grid-column: 1 / -1;
        margin-top: 0;
        font-size: 0.9rem;
        display: flex;
        flex-flow: column;
        gap: 0.33em;
        padding: 1rem 1.5rem;
        padding-bottom: 1.5rem;
        color: white;
      }
      .sources::before,
      .sources::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .sources::before {
        z-index: -1;
        background: #17191e;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
      }
      .sources::after {
        z-index: -2;
        background: linear-gradient(247.23deg, #4af2c8 0%, #2f4cb3 100%);
      }
      .sources h2 {
        margin: 0;
      }
      .sources > a {
        display: block;
        color: rgba(255, 255, 255, 0.8);
      }
      .sources > a:is(:hover, :focus) {
        color: rgba(255, 255, 255, 1);
      }
      @keyframes fade-in {
        from {
          opacity: 0;
          transform: translateY(1rem);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @keyframes shake {
        0% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(0.75rem);
        }
        50% {
          transform: translateX(-0.75rem);
        }
        75% {
          transform: translateX(0.75rem);
        }
        100% {
          transform: translateX(0);
        }
      }
    </style>

    <script>
      import { chat } from "../chat";
      import snarkdown from "snarkdown";

      const header = document.querySelector("header")!;
      const houston = document.querySelector("hey-houston")!;

      const h = (
        tag: string,
        props: Record<string, any> = {},
        ...children: any[]
      ) => {
        const node = document.createElement(tag);
        for (const [key, value] of Object.entries(props)) {
          node.setAttribute(key, value);
        }
        for (const child of children) {
          if (child instanceof Node) {
            node.appendChild(child);
          } else if (child || child === 0) {
            node.innerHTML = child;
          }
        }
        return node;
      };
      const rand = (arr: any[]) => arr[Math.floor(Math.random() * arr.length)];
      const messages = document.querySelector(".chat") as HTMLDivElement;

      const avoid = [
        "Sorry, I'm not sure about that one.",
        "Hmm... I don't know!",
        "Huh, that's one even I don't know!",
        "Wow, that's a tough one...",
        "Unfortunately, I have no idea.",
        "Hmm, I'm not sure.",
      ];

      async function handleSubmit(event: Event) {
        event.preventDefault();
        const form = event.target as HTMLFormElement;
        const textarea = form.message as HTMLTextAreaElement;
        const message = textarea.value;
        if (!message.trim()) return;

        const bubble = h(
          "li",
          { class: "message", "data-user": "" },
          snarkdown(message)
        );
        messages.appendChild(bubble);
        bubble.scrollIntoView();
        header.classList.add("inactive");

        textarea.value = "";
        textarea.focus();

        const thinking = houston.think();
        let emote: string = "default";
        try {
          const res = await chat(message);
          emote = res.valid ? "haapy" : "disappointed";
          if (!res.valid) {
            const bubble = h(
              "li",
              { class: "message defer" },
              `${rand(avoid)}`
            );
            messages.appendChild(bubble);
            bubble.scrollIntoView();
          } else {
            const sources = res.sources.map(({ url, title }) =>
              h("a", { target: "_blank", href: url }, title)
            );
            const bubble = h("li", { class: "message" }, snarkdown(res.answer));
            messages.appendChild(bubble);
            if (sources.length > 0) {
              messages.appendChild(
                h(
                  "li",
                  { class: "sources" },
                  h("h2", {}, "Resources"),
                  ...sources
                )
              );
            }
            bubble.scrollIntoView();
          }
        } catch (err) {
          emote = "cry";
          const bubble = h(
            "li",
            { class: "message error" },
            `Something went wrong! Please try again.`
          );
          messages.appendChild(bubble);
          bubble.scrollIntoView();
        } finally {
          thinking.stop();
          houston.emote(emote);
          setTimeout(() => houston.emote("default"), 1250);
        }
      }

      function handleKeydown(event: KeyboardEvent) {
        if (event.shiftKey) return;
        if (event.key !== "Enter") return;
        event.preventDefault();
        (event.target as HTMLElement).closest("form")!.requestSubmit();
      }

      globalThis.handleSubmit = handleSubmit;
      globalThis.handleKeydown = handleKeydown;
    </script>
  </body>
</html>
