---
import Houston from "../components/Houston.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Houston</title>
  </head>
  <body>
    <main>
      <Houston glow />

      <div class="controls">
        <select onchange="updatePose(event)">
          <option value="default" selected>Default</option>
          <option value="happy">Happy</option>
          <option value="disappointed">Disappointed</option>
          <option value="shocked">Shocked</option>
          <option value="love">Love</option>
          <option value="grumpy">Grumpy</option>
          <option value="sad">Sad</option>
          <option value="wink">Wink</option>
        </select>

        <button onclick="talk()">Talk</button>

        <button onclick="think()">Think</button>

        <script is:inline>
          const houston = document.querySelector("hey-houston");
          function updatePose(event) {
            houston.setAttribute("pose", event.target.value);
          }
          function talk() {
            houston.reset();
            const h = houston.talk();
            setTimeout(h.stop, 3000);
          }
          function think() {
            houston.reset();
            const h = houston.think();
            setTimeout(h.stop, 3000);
          }
        </script>
      </div>
    </main>

    <style>
      :global(*) {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        position: relative;
        background: #17191e;
        color-scheme: dark;
      }
      body::before {
        position: absolute;
        content: "";
        mix-blend-mode: overlay;
        opacity: 0.2;
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(/whitenoise.png);
        background-repeat: repeat;
        pointer-events: none;
      }
      main {
        height: 100dvh;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      .controls {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      select,
      button {
        padding: 0.25rem 0.5rem;
      }
    </style>
  </body>
</html>
