<svg
  width="415"
  height="64"
  viewBox="0 0 415 64"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Houston AI</title>
  <path
    d="M28.3038 58.5839H38.7528V2.69385H28.3038V25.2119H10.6458V2.69385H0.196777V58.5839H10.6458V34.6079H28.3038V58.5839Z"
    fill="white"></path>
  <path
    d="M66.0431 59.3939C79.0841 59.3939 85.8881 52.1039 85.8881 37.2809C85.8881 22.5389 79.0841 15.2488 66.0431 15.2488C53.0021 15.2488 46.1981 22.5389 46.1981 37.2809C46.1981 52.1039 53.0021 59.3939 66.0431 59.3939ZM56.8091 37.2809C56.8091 27.8849 59.6441 23.9969 66.0431 23.9969C72.4421 23.9969 75.2771 27.8849 75.2771 37.2809C75.2771 46.6769 72.4421 50.6459 66.0431 50.6459C59.6441 50.6459 56.8091 46.7579 56.8091 37.2809Z"
    fill="white"></path>
  <path
    d="M130.674 16.0588H120.468V42.2219C120.468 47.4869 117.633 50.2409 112.206 50.2409C107.022 50.2409 104.592 47.7299 104.592 42.2219V16.0588H94.3865V45.0569C94.3865 54.6149 98.9225 59.3939 108.237 59.3939C112.125 59.3939 115.203 58.5839 117.228 56.6399L119.658 54.2099H121.926L123.061 58.5839H130.674V16.0588Z"
    fill="white"></path>
  <path
    d="M158.18 59.3939C170.573 59.3939 177.296 54.6149 177.296 45.4619C177.296 38.6579 173.489 34.9319 164.741 33.2309L154.859 31.2869C152.024 30.7199 150.566 29.4239 150.566 27.2369C150.566 24.3209 153.239 22.6198 158.099 22.6198C162.959 22.6198 166.118 24.3209 166.604 28.0469H176.243C175.757 18.7319 168.224 15.2488 158.423 15.2488C147.164 15.2488 140.846 19.8659 140.846 28.3709C140.846 34.4459 144.248 38.3339 151.7 39.7919L161.987 41.8168C165.389 42.5458 167.09 44.0849 167.09 46.5959C167.09 49.9979 164.012 51.7799 158.504 51.7799C153.077 51.7799 149.756 49.9978 149.513 45.7048H139.469C139.793 55.7488 147.164 59.3939 158.18 59.3939Z"
    fill="white"></path>
  <path
    d="M208.795 58.5839H220.135V49.9169H210.334C203.854 49.9169 201.586 47.2439 201.586 40.6019V24.7259H221.35V16.0588H201.586V3.98985H191.38V16.0588H181.66V24.7259H191.38V40.6829C191.38 52.9139 196.888 58.5839 208.795 58.5839Z"
    fill="white"></path>
  <path
    d="M249.317 59.3939C262.358 59.3939 269.162 52.1039 269.162 37.2809C269.162 22.5389 262.358 15.2488 249.317 15.2488C236.276 15.2488 229.472 22.5389 229.472 37.2809C229.472 52.1039 236.276 59.3939 249.317 59.3939ZM240.083 37.2809C240.083 27.8849 242.918 23.9969 249.317 23.9969C255.716 23.9969 258.551 27.8849 258.551 37.2809C258.551 46.6769 255.716 50.6459 249.317 50.6459C242.918 50.6459 240.083 46.7579 240.083 37.2809Z"
    fill="white"></path>
  <path
    d="M277.822 58.5839H288.028V32.4209C288.028 27.1559 290.863 24.4018 296.29 24.4018C301.474 24.4018 303.904 26.9128 303.904 32.4209V58.5839H314.11V29.5859C314.11 20.0279 309.574 15.2488 300.259 15.2488C296.371 15.2488 293.293 16.0588 291.268 18.0028L288.838 20.4329H286.57L285.436 16.0588H277.822V58.5839Z"
    fill="white"></path>
  <rect
    x="332.396"
    y="2.28572"
    width="80.0953"
    height="59.4286"
    rx="8.38096"
    fill="url(#paint0_linear_137_338)"
    fill-opacity="0.33"></rect>
  <path
    d="M352.524 43.5H358.105L358.798 39.444H365.212L365.905 43.5H371.59L367.118 19.58H356.996L352.524 43.5ZM359.596 34.6947L361.364 24.156H362.646L364.414 34.6947H359.596ZM374.766 43.5H390.921V38.5774H385.582V24.5027H390.921V19.58H374.766V24.5027H380.105V38.5774H374.766V43.5Z"
    fill="white"></path>
  <rect
    x="332.396"
    y="2.28572"
    width="80.0953"
    height="59.4286"
    rx="8.38096"
    stroke="url(#paint1_linear_137_338)"
    stroke-width="4.57143"></rect>
  <defs>
    <linearGradient
      id="paint0_linear_137_338"
      x1="414.777"
      y1="4.35324e-06"
      x2="322.903"
      y2="51.0224"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#4AF2C8"></stop>
      <stop offset="1" stop-color="#2F4CB3"></stop>
    </linearGradient>
    <linearGradient
      id="paint1_linear_137_338"
      x1="414.777"
      y1="4.35324e-06"
      x2="322.903"
      y2="51.0224"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#4AF2C8"></stop>
      <stop offset="1" stop-color="#2F4CB3"></stop>
    </linearGradient>
  </defs>
</svg>
